#to-do-list ul {
  margin-top: 30px;
}
.todo-enter {
    transform: translateX(-350px);
}
.todo-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.todo-exit {
    opacity: 1;
}
.todo-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}