#to-do-input {
    flex-basis: 80%;
    height: 36px;
    border: none;
    outline: none;
    border-bottom: 1px solid teal;
  }
  .edit-active {
    color: black;
  }

  #to-do-add {
    flex-basis: 17%;
    height: 37px;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
    transition: 0.4s;
  }

  #to-do-add:hover {
    background-color: black;
    color: white;
  }

  #msg {
    height: 25px;
    text-align: center;
    color: red;
  }
  